@import '~antd/es/style/themes/default.less';

@pro-header-hover-bg: rgba(122, 127, 141, 0.1);

.menu {
	:global(.anticon) {
		margin-right: 8px;
	}

	:global(.ant-dropdown-menu-item) {
		min-width: 160px;
	}
}

.right {
	display: flex;
	gap: 5px;
	align-items: center;
	float: right;
	margin-left: auto;
	overflow: hidden;

	:global(.anticon),
	a > img {
		display: flex;
		align-items: center;
		height: 48px;
		padding: 0 8px;
		font-size: 20px;

		&:hover,
		&:focus {
			background: @pro-header-hover-bg;
		}
	}

	a > img {
		padding: 12px 8px;
	}

	.action {
		display: flex;
		align-items: center;
		height: 48px;
		padding: 0 8px;
		cursor: pointer;
		transition: all 0.3s;

		> span {
			vertical-align: middle;
		}

		&:hover {
			background: @pro-header-hover-bg;
		}

		&:global(.opened) {
			background: @pro-header-hover-bg;
		}
	}

	a,
	a:hover {
		color: rgba(0, 0, 0, 0.85);
	}

	.name {
		color: rgba(0, 0, 0, 0.85);
	}

	.account {
		.avatar {
			width: 42px;
			height: 42px;
			margin-right: 8px;
			font-size: 22px;
			line-height: 42px;

			img {
				object-fit: cover;
			}

			:global(.anticon) {
				height: 32px;
				font-size: 32px;
			}
		}
	}
}

.dark {
	.action {
		&:hover {
			background: #252a3d;
		}

		&:global(.opened) {
			background: #252a3d;
		}
	}
}

.activePartition {
	font-weight: bold;
	background-color: var(--primary-1);
	border-left: 3px solid var(--primary-color);
}

.avatarWrapper {
	position: relative;
	display: inline-block;

	.partitionBadge {
		position: absolute;
		right: 8px;
		bottom: 5px;
		display: flex;
		align-items: center;
		justify-content: center;

		width: 16px;
		height: 16px;

		color: #fff;
		font-size: 10px;

		background-color: var(--primary-color);
		border-radius: 50%;
		box-shadow: 0 0 0 2px #fff;
	}
}

@media only screen and (max-width: @screen-md) {
	:global(.ant-divider-vertical) {
		vertical-align: unset;
	}

	.name {
		display: none;
	}

	.right {
		position: absolute;
		top: 0;
		right: 12px;

		.account {
			.avatar {
				margin-right: 0;
			}
		}

		.search {
			display: none;
		}
	}

	.avatarWrapper {
		.partitionBadge {
			right: 0px;
		}
	}
}

@media (max-width: @screen-xs) {
	.right {
		gap: 0;
	}
}
