.label-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	justify-content: flex-start;
	font-family: 'Times New Roman', Times, serif;
}

.label-box {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 10px;
	font-size: 10px;
	text-align: center;

	page-break-inside: avoid;
	border: 1px solid black;
	break-inside: avoid;
}

.label-section {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	padding: 4px 2px;
	border-bottom: 1px solid black;
}

.label-section:last-child {
	border-bottom: none;
}

.top {
	padding: 5px 12px;
	font-size: 10px;
	line-height: 1.2;
}

.middle {
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 22px;
	line-height: 1.4;
}

.bottom {
	font-weight: bold;
	font-size: 22px;
	line-height: 1.4;
}
